body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: auto;
}
a {
  color: seashell;
}
header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
nav span {
  padding: 20px 10px;
  display: inline-block;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logo img {
  padding-left: 10px;
  height: 50px;
}
.main-content {
  padding-top: 69px;
  width: 1200px;
  margin: 0 auto;
}
.flexbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#hero {
  background-image: url("./img-mission-background.jpg");
  height: 700px;

}
.mission {
  background-color: black;
  width: 1200px
}
